# this file can be passed to python package manager to collect the requirements
# e.g.:
# pip install -r python_requirements.txt
lxml
tqdm
kafe
seaborn
aenum
verboselogs
qtawesome
coloredlogs
termcolor
progressbar-latest
pyvisa
pyvisa-py
pyqtgraph

